myenv
.env
chroma_langchain_db
myenv
.env
test.ipynb
.venv
.git
logs
.venv
tests.ipynb
test_filter.ipynb
sheet_analysis.ipynb
sets.py
__pycache__
*.pyc
mlruns/0
mlruns
mlruns.db
__pycache__/
ete.ipynb
ete2.ipynb
__pycache__/*
*.pyc
2.py
Data/Unique_Product_List.xlsx
end_to_end.ipynb
2.py
test_notebooks
__pycache__/
**/__pycache__/
.vscode
.pytest_cache
mlcheck
test_markdown.ipynb
test2.py
çååå
MLFlow/mlflow.db
mlflow.db
mlflow_tracking
.ipynb_checkpoints
MLFLow/mlflow_tracking
test.ipynb
complete_web_search.ipynb
test_.ipynb
artifacts
MLFlow/mlflow.db
/Users/eshantdas/Desktop/SelfStudy/PersonalTest/MLFlow/mlflow.db
.DS_Store
.coverage
htmlcov
.txt
pytest.ini
.pytest_cache
venv
test_nava.ipynb
test_gemini.ipynb
htmlcov
complete_web_search.ipynb
agentic_convai.py
agentic_convai.py
complete_web_search.ipynb
test2.ipynb
output.json
2.txt
app.log
2.py
test_async