langchain
langgraph
python-dotenv
langchain_openai
langchain-google-genai
langchain-text-splitters
langsmith
langchain-community
langchain_groq
faiss-cpu
langgraph
langgraph-cli[inmem]
streamlit
ipykernel

